@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 0%;
  --muted: 60 4.8% 95.9%;
  --muted-foreground: 0 0% 0%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 0%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 0%;
  --border: 20 5.9% 90%;
  --input: 20 5.9% 90%;
  --primary: 207 90% 54%;
  --primary-foreground: 211 100% 99%;
  --secondary: 60 4.8% 95.9%;
  --secondary-foreground: 24 9.8% 10%;
  --accent: 60 4.8% 95.9%;
  --accent-foreground: 24 9.8% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 60 9.1% 97.8%;
  --ring: 20 14.3% 4.1%;
  --sidebar-background: 0 0% 100%;
  --sidebar-foreground: 223 20% 15%;
  --sidebar-primary: 207 90% 54%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 220 14% 96%;
  --sidebar-accent-foreground: 220 14% 20%;
  --sidebar-border: 220 13% 91%;
  --sidebar-ring: 213 27% 84%;
  --header-background: 0 0% 100%;
  --header-foreground: 20 14.3% 4.1%;
  --header-border: 20 5.9% 90%;
  --chart-1: 207 80% 54%;
  --chart-2: 338 80% 55%;
  --chart-3: 108 76% 48%;
  --chart-4: 40 90% 55%;
  --chart-5: 262 83% 60%;
  --radius: 0.5rem;
}

.dark {
  --background: 222 47% 11%;
  --foreground: 213 31% 91%;
  --muted: 223 47% 16%;
  --muted-foreground: 215 20% 65%;
  --popover: 222 45% 14%;
  --popover-foreground: 213 31% 91%;
  --card: 222 47% 14%;
  --card-foreground: 213 31% 91%;
  --border: 223 38% 22%;
  --input: 223 38% 22%;
  --primary: 207 90% 54%;
  --primary-foreground: 210 40% 98%;
  --secondary: 223 47% 16%;
  --secondary-foreground: 210 40% 98%;
  --accent: 223 47% 16%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --ring: 216 34% 17%;
  --sidebar-background: 222 47% 13%;
  --sidebar-foreground: 210 40% 98%;
  --sidebar-primary: 207 90% 54%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 223 47% 16%;
  --sidebar-accent-foreground: 224 71% 98%;
  --sidebar-border: 223 38% 22%;
  --sidebar-ring: 213 27% 84%;
  --header-background: 222 47% 13%;
  --header-foreground: 213 31% 91%;
  --header-border: 223 38% 22%;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

